* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #01ffde), color-stop(65%, #7d54b8));
  background-image: linear-gradient(to top, #01ffde 10%, #7d54b8 65%);
  font-family: "Roboto", sans-serif;
}

.navbar {
  margin-left: 130px;
}

.navbar .nav-link {
  color: white !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: lighter;
  font-size: 15px;
  padding-top: 30px;
}

.navbar .nav-link:hover {
  color: #FF8425 !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: lighter;
  font-size: 15px;
}

.landing-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  height: 650px;
}

.landing-top .container-landing1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-family: "Roboto", sans-serif;
  line-break: loose;
}

.landing-top .container-landing1 .landing-tittle1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 65px;
  font-weight: bold;
  color: white;
  margin-top: 170px;
  margin-left: 70px;
}

.landing-top .container-landing1 .landing-image1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 350px;
  top: 250px;
  left: 850px;
}

.landing-top .container-landing1 .slide-top {
  -webkit-animation: slide-top 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
          animation: slide-top 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

.landing-top .container-landing1 .landing-image2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 150vh;
  top: 427px;
  right: 10px;
}

.landing-top .container-landing1 .continue-button {
  background-color: #2a115228;
  margin-left: 70px;
  margin-top: 10px;
  border: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 100px;
  width: 120px;
  height: 35px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
          box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
}

.landing-top .container-landing1 .continue-button a {
  color: white;
  text-decoration: none;
}

.landing-top .container-landing1 .continue-button:hover {
  background-color: #3c2e4e;
}

.landing-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  line-break: loose;
  border-radius: 50px 50px 0px 0px;
  padding-left: 480px;
  padding-right: 480px;
  padding-bottom: 190px;
  padding-top: 250px;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8425), to(#ff6a2e));
  background-image: linear-gradient(to bottom, #FF8425, #ff6a2e);
}

.landing-middle .icons-landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  inline-size: 250px;
  margin-bottom: 40px;
}

.landing-middle .landing-tittle3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.botones-landing {
  margin-top: 50px;
  line-break: loose;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color: white;
}

.botones-landing .boton-landing1 {
  border-radius: 100px;
  border-bottom-width: 10px;
  border-color: #FF8425;
  border-width: 2px;
  border-style: solid;
  color: white;
  background-color: #7d54b8;
  width: 120px;
  height: 35px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
          box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
}

.botones-landing .boton-landing1:hover {
  background-color: #3c2e4e;
}

.botones-landing .boton-landing2 {
  border-radius: 100px;
  border-bottom-width: 10px;
  border-color: #FF8425;
  border-width: 2px;
  border-style: solid;
  color: white;
  background-color: #7d54b8;
  width: 120px;
  height: 35px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
          box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
  margin-left: 20px;
}

.botones-landing .boton-landing2:hover {
  background-color: #3c2e4e;
}

.modal {
  display: none;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.829);
}

.modal .modal-content {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  background-color: rgba(0, 0, 0, 0.829);
}

.modal .modal-content .boton-cierra {
  border-radius: 100px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  border: none;
  background-color: #FF8425;
  width: 120px;
  height: 35px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
          box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
}

.modal .modal-content .boton-cierra:hover {
  border-radius: 100px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  border: none;
  background-color: #ae35ff;
  width: 120px;
  height: 35px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
          box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
}

.modal-body .video-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150vh;
  -ms-flex-line-pack: center;
      align-content: center;
}
